* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

table {
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
}

#t01 tr:nth-child(odd) {
    background-color: white;
}